@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.spacer {
  height: 4px;
  background-color: var(--bs-success);
  width: 50px;
  border-radius: 5px;
  margin: 0 auto;
}

/* Social Media Button */
.social-button li {
  display: inline-block;
}

.social-button li a {
  height: 40px;
  width: 40px;
  padding: 13px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  color: var(--bs-success);
  border: 2px solid var(--bs-success);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.social-button li a:hover {
  color: var(--bs-white);
  background-color: var(--bs-success);
}